.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0%;
  padding: 0%;
}

.header {
  flex: 30%;
  background-color: rgb(101, 110, 130);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .input_form_container {
  display: flex;
  flex-direction: column;
}

.header input {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  font-size: 17px;
  border: 1px solid grey;
  margin-bottom: 20px;
}

.header button {
  width: 50px;
  height: 40px;
  border: none;
  border-radius: 4px;
  padding-left: 10px;
  cursor: pointer;
  margin-left: 20px;
  margin-bottom: 18px;
}
